/* Large Size devices (Computers) */
@media screen {
  :root {
    --font-color-heading: #ffffff;
    --font-color-body: #d0d0d0; 
    --font-size-base: 16px;
    --spacing: 1rem;
    --padding: 1rem;
    --container-width: 80%;
    --card-width-s: 25%;
    --card-width-m: 50%;
    --card-width-l: 75%;
    --color-primary: #3399ff;
    --color-primary-deep: #007fff;
    --color-secondary: #eeff33;
    --color-nav-background: #232323;
    --color-background: #131313;
    --color-background-dark: #1a1a1a;
    --color-background-lighter: #333333;
    --color-background-translucent: rgba(19,19,19,0.85);
  }
}

/*  Medium Size devices (Tablets) */
@media(min-width: 769px) and (max-width: 1024px) {
  :root {
    --font-size-base: 15px;
    --spacing: 0.75rem;
    --padding: 0.75rem;
    --card-width-s: 35%;
    --card-width-m: 75%;
    --card-width-l: 85%;
    --img-width: 100%;
    --img-height: 100%;
  }
}

/*  Small device media (Phones) */
@media (max-width: 768px) {
  :root {
    --font-size-base: 14px;
    --spacing: 0.5rem;
    --padding: 0.5rem;
    --card-width-s: 65%;
    --card-width-m: 75%;
    --card-width-l: 85%;
  }
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100dvh;
  width: 100dvw;
}

#timeline {
  z-index: 1;
}

.App-header {
  background-color: transparent;
  z-index: 1;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: white;
}

canvas {
  background-color:var(--color-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh; /* Dynamic viewport height for mobile Safari */
  z-index: 0;
  pointer-events: auto;
}

.invisible {
  display: none;
  visibility: hidden;
}

.visible {
  display: inline;
  visibility: visible;
}