/* Large Size devices (Computers) */
@media screen {
  :root {
    --font-size-base: 16px;
    --spacing: 1rem;
    --padding: 1rem;
    --container-width: 80%;
    --card-width-s: 25%;
    --card-width-m: 50%;
    --card-width-l: 75%;
    --color-primary: #3399ff;
    --color-secondary: #eeff33;
    --color-background: #131313;
    --color-background-lighter: #333333;
  }
}

/*  Medium Size devices (Tablets) */
@media(min-width: 769px) and (max-width: 1024px) {
  :root {
    --font-size-base: 15px;
    --spacing: 0.75rem;
    --padding: 0.75rem;
    --card-width-s: 35%;
    --card-width-m: 75%;
    --card-width-l: 85%;
    --my-color-theme: #3399ff;
    --img-width: 100%;
    --img-height: 100%;
  }
}

/*  Small device media (Phones) */
@media (max-width: 768px) {
  :root {
    --font-size-base: 14px;
    --spacing: 0.5rem;
    --padding: 0.5rem;
    --card-width-s: 65%;
    --card-width-m: 75%;
    --card-width-l: 85%;
    --my-color-theme: #3399ff;
  }
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: white;
}

.container {
  width: var(--container-width);
  height: min-content;
  background-color: var(--color-background);
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 2px 0 10px 0 var(--color-primary);
}

.body {
  padding-inline: 1rem;
}

.about-me-section {
   display: flex;
   align-items: center;
   justify-items: center;
}

.my-photo {
  width: 200px;
  border-radius: 1rem;
  border: var(--color-secondary);
}

canvas {
  background-color:var(--color-background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: auto;
}

.container {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.container * {
  pointer-events: auto;
}