button {
    -webkit-tap-highlight-color: transparent;
}
@media screen {
    .navbar {
        display: flex;
        flex-direction: row;
        background-color: #242424;
        width: 100%;
    }
    
    .navbar > h1 {
        color: #3399df;
        margin-inline: 1vw;
    }
    
    .navbar > ul {
        display: flex;
        width: 100%;
        margin-inline: 1vw;
        list-style: none;
        gap: 25px;
        align-items: center;
    }
    
    .navbar > ul > li {
        color: white;
        font-size: 1.1rem;
        padding: 10px 18px;
        border-radius: 6px;
        cursor: pointer;
        transition: background 0.2s, color 0.2s;
    }
    
    .navbar > ul > li:hover {
        background-color: #287bb5;
        color: #e0e0e0;
    }   

    /* Hide hamburger on desktop */
    .navbar-hamburger {
        display: none;
        position: relative;
    }

}

/** Mobile nav hamburger menu styles */
@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        z-index: 10;
        display: inline-flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }

    .navbar > h1 {
        margin-left: 1rem;
    }

    .navbar > ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
        margin: 0;
        padding: 0;
        display: none; /* Hidden by default, shown when menu is open */
        background-color: #242424;
    }

    .navbar.open > ul {
        display: flex;
    }

    .navbar-hamburger {
        display: block;
        background: none;
        border: none;
        margin-right: 1rem;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        cursor: pointer;
        box-shadow: none;
    }

    .navbar-hamburger:active{
        background-color: #343434;
        box-shadow: none;
    }

    .menu {
        color: #e0e0e0;
        height: 100%;
        width: 100%;
    }

}