.project-card {
    color: var(--font-color-body);
    padding: var(--padding);
    border-radius: 1rem;
    background-color: var(--color-background-translucent);
    box-shadow: 0 2px 5px var(--color-primary-deep);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.project-card:hover {
    box-shadow: 0 0 15px var(--color-primary);
}

.project-card > p {
    font-size: medium;
    line-height: 1.5em;
    text-align: start;
    padding: 0 0.5rem;
}

.project-card > h2 {
    color: var(--font-color-heading);
    font-size: x-large;
    margin: 0 0 0.5rem 0;
}

.project-git > a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: bold;
}

.project-link > a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
}
